.input {
	width: 100%;
	padding: 5px 8px;
	color: $text-color;
	font: inherit;
	border: 2px solid $border-color;
	border-radius: 3px;
	transition: border-color 0.2s ease;
	outline: none;
	box-sizing: border-box;
	&:focus {
		border-color: $main-color;
	}
}
.input--error {
	border-color: $danger-color;
	&:focus {
		border-color: $danger-color;
	}
}
