@import '@/style/variables.scss';

.pagination {
	display: inline-flex;
	margin: 0;
	padding: 0;
	list-style: none;
	border: 1px solid $border-color;
	border-radius: 3px;
	li.active > a {
		color: #ffffff;
		background-color: $main-color;
		text-decoration: none;
	}
	li.disabled {
		opacity: 0.3;
		& > a {
			background-color: #ffffff;
			cursor: default;
		}
	}
	a {
		display: block;
		padding: 6px 14px;
		color: $text-color-light;
		background-color: #ffffff;
		transition: color 0.2s ease-in, background-color 0.2s ease-in;
		user-select: none;
		&:hover {
			background-color: $border-color;
			text-decoration: none;
		}
	}
}
