.table {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
	span.tag {
		display: inline-block;
		margin-right: 3px;
		padding: 2px 5px;
		font-size: 14px;
		background-color: #e4e4e4;
		border-radius: 10px;
	}
	th,
	td {
		padding: 6px 10px;
		&:not(:last-child) {
			border-right: 1px solid #cfcfcf;
		}
	}
	th {
		text-align: left;
		color: #ffffff;
		background-color: #4e4e4e;
	}
	td {
		border-bottom: 1px solid #7c7c7c;
	}
}
