.table {
	margin: 0 auto;
	width: 100%;
	border-collapse: collapse;
	th,
	td {
		padding: 8px 12px;
	}
	th {
		text-align: left;
		color: #ffffff;
		background-color: #4e4e4e;
	}
	td {
		border-bottom: 1px solid #7c7c7c;
	}
}
