$main-color: #3baeda;
$danger-color: #ad0000;
$text-color: #303030;
$text-color-light: #606060;
$link-color: #007cad;
$background-color: #f5f6f8;
$border-color: #e7e7e7;

$size-tablet: 'max-width: 1279px';
$size-tablet-small: 'max-width: 1023px';
$size-mobile: 'max-width: 767px';
